* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

:root {
    --button-text-color: #ECECEC;
    --calc-color: #222222;
    --display-background-color: #dfdddd;
    --display-text-color: black;
    --number-button-color: #4E4E4E;
    --operator-button-color: #0048F2;
    --other-button-color: #4566B7;
}


/* MAIN */

main {
    align-items: center;
    background-color: #a2bbd1;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23797979' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.calculator-container {
    background-color: var(--calc-color);
    border-radius: 10px;
    box-sizing: border-box;
    display: grid;
    grid-gap: 8px;
    grid-template-areas: "disp disp disp disp" "AC C plusMinus divide" "seven eight nine multiply" "four five six minus" "one two three plus" "decimal zero equals equals";
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    height: 560px;
    padding: 24px 12px;
    width: 375px;
}

.display-container {
    align-items: center;
    background-color: var(--display-background-color);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

.display-text {
    color: var(--display-text-color);
    font-size: 52px;
    margin-right: 4px;
    position: absolute;
}

.buttons {
    -webkit-tap-highlight-color: transparent;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.buttons:hover,
.buttons:focus {
    filter: brightness(0.85);
    outline: none;
    transform: scale(0.98);
}

.operator-buttons,
.equals-button {
    background-color: var(--operator-button-color);
    color: var(--button-text-color);
    font-size: 32px;
}

.clear-button,
.all-clear-button,
.plus-minus-button {
    background-color: var(--other-button-color);
    color: var(--button-text-color);
    font-size: 26px;
}

.number-buttons {
    background-color: var(--number-button-color);
    color: var(--button-text-color);
    font-size: 26px;
}


/* GRID SUPPORT */

#displayContainer {
    grid-area: disp;
}

#zeroButton {
    grid-area: zero;
}

#oneButton {
    grid-area: one;
}

#twoButton {
    grid-area: two;
}

#threeButton {
    grid-area: three;
}

#fourButton {
    grid-area: four;
}

#fiveButton {
    grid-area: five;
}

#sixButton {
    grid-area: six;
}

#sevenButton {
    grid-area: seven;
}

#eightButton {
    grid-area: eight;
}

#nineButton {
    grid-area: nine;
}

#decimalButton {
    grid-area: decimal;
}

#plusMinusButton {
    grid-area: plusMinus;
}

#plusButton {
    grid-area: plus;
}

#minusButton {
    grid-area: minus;
}

#divideButton {
    grid-area: divide;
}

#multiplyButton {
    grid-area: multiply;
}

#equalsButton {
    grid-area: equals;
}

#clearButton {
    grid-area: C;
}

#allClearButton {
    grid-area: AC;
}


/*FOOTER */

footer {
    align-items: center;
    bottom: 0;
    color: black;
    display: flex;
    font-family: sans-serif;
    font-size: 18px;
    gap: 10px;
    justify-content: center;
    margin-bottom: 8px;
    position: fixed;
    width: 100%;
}

.fa-github {
    color: black;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}


/* MEDIA QUERIES */

@media only screen and (max-width: 375px) {
    .calculator-container {
        width: 100vw;
    }
}

@media only screen and (max-height: 630px) {
    footer {
        display: none;
    }
}

@media only screen and (max-height: 575px) {
    .calculator-container {
        height: 100vh;
    }
}

@media only screen and (max-height: 575),
screen and (max-width: 375px) {
    .calculator-container {
        border-radius: 0;
    }
}