* {
    font-family: monospace;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
}

.calculator-container {
    background-color: black;
    border-radius: 10px;
    border: solid 1px darkblue;
    box-sizing: border-box;
    display: grid;
    grid-gap: 8px;
    grid-template-areas: "disp disp disp disp" "AC C plusMinus divide" "seven eight nine multiply" "four five six minus" "one two three plus" "zero zero decimal equals";
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr));
    height: 550px;
    padding: 24px 12px;
    width: 375px;
}

.display-container {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
}

.display-text {
    color: black;
    font-size: 52px;
    margin-right: 4px;
    position: absolute;
}

.buttons {
    border-radius: 100px;
    border: none;
    cursor: pointer;
    font-size: 32px;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.operator-buttons,
.equals-button {
    background-color: #FD9D09;
    color: white;
}

.operator-buttons.selected {
    background-color: red;
}

.clear-button,
.all-clear-button,
.plus-minus-button {
    background-color: #A3A4A4;
}

.number-buttons {
    background-color: #323232;
    color: white;
}

#displayContainer {
    grid-area: disp;
}

#zeroButton {
    grid-area: zero;
    padding-left: 30px;
    text-align: left;
}

#oneButton {
    grid-area: one;
}

#twoButton {
    grid-area: two;
}

#threeButton {
    grid-area: three;
}

#fourButton {
    grid-area: four;
}

#fiveButton {
    grid-area: five;
}

#sixButton {
    grid-area: six;
}

#sevenButton {
    grid-area: seven;
}

#eightButton {
    grid-area: eight;
}

#nineButton {
    grid-area: nine;
}

#decimalButton {
    grid-area: decimal;
}

#plusMinusButton {
    grid-area: plusMinus;
}

#plusButton {
    grid-area: plus;
}

#minusButton {
    grid-area: minus;
}

#divideButton {
    grid-area: divide;
}

#multiplyButton {
    grid-area: multiply;
}

.material-icons-outlined {
    font-size: 35px !important;
}

#equalsButton {
    grid-area: equals;
}

#clearButton {
    grid-area: C;
}

#allClearButton {
    grid-area: AC;
}

@media only screen and (max-width: 375px) {
    .calculator-container {
        width: 100vw;
    }
}

@media only screen and (max-height: 550px) {
    .calculator-container {
        height: 100vh;
    }
}